.container {
  margin-left: 8%;
  margin-right: 8%;
}
.editor_container {
  min-height: calc(100vh - 95.2px - 50px);
  border-radius: 7px;
  width: 70vw;
  display: flex;
  /* background-color: #1a1e24; */
  flex-wrap: wrap;
}
.code_ground {
  position: relative;
  width: 40vw;
  height: calc(100vh - 95.2px - 50px);
  background-color: #1a1e24;
  border-radius: 8px 0 0 8px;
}
.code_editor {
  height: calc(100vh - 95.2px - 50px - 65px);
}
.output_container {
  height: calc(100vh - 95.2px - 50px);
  width: 30vw;
  background-color: #1e2229;
  border-radius: 0 8px 8px 0;
}
.editor_options {
  /* background-color: #1a1e24; */
  border-bottom: 2px solid #3f3f3f;
  margin-bottom: 5px;
  height: 60px;
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.run_btn,
.run_btn_2 {
  /* padding: 5; */
  text-align: center;
  margin-left: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  font-weight: 600;
  height: 30px;
  background-color: aliceblue;
  border-radius: 8px;
  color: #fff;
  outline: none;
  border: none;
}
.run_btn {
  background-color: #ffaf8e;
  width: 60px;
}
.run_btn_2 {
  background-color: #fd7c47;
  width: 150px;
}
.output {
  font-weight: 400;
  color: #d4d4d4;
  height: calc(100% - 60px - 10px);
  overflow: auto;
}
.output::-webkit-scrollbar {
  width: 10px;
}
.output::-webkit-scrollbar-track {
  background-color: #3f3f3f;
  border-radius: 40px;
}
.output::-webkit-scrollbar-thumb {
  background-color: #646464;
  border-radius: 40px;
}
@media screen and (max-width: 1285px) {
  .code_ground {
    width: 70vw;
    height: 60vh;
    border-radius: 8px;
  }
  .output_container {
    width: 70vw;
    height: 30vh;
    margin-top: 20px;
    border-radius: 8px;
  }
}
@media screen and (max-width: 768px) {
  .container {
    margin-left: 0%;
    margin-right: 0%;
    display: flex;
    justify-content: center;
  }
  .code_title {
    display: none;
  }
  .editor_container {
    min-height: calc(100vh - 95.2px - 50px);
    border-radius: 7px;
    width: 95vw;
    display: flex;
    background-color: #fff;
    flex-wrap: wrap;
  }
  .code_ground {
    width: 100vw;
    border-radius: 8px;
  }
  .output_container {
    width: 100vw;
    height: 50vh;
    margin-top: 20px;
    border-radius: 8px;
  }
  .run_btn {
    background-color: #ffaf8e;
    width: 50px;
    font-size: 12px;
  }
  .run_btn_2 {
    background-color: #fd7c47;
    width: 100px;
    font-size: 12px;
  }
}
